# --------------------------
# System
# --------------------------

*~
*#*
._*
\#*
*.bak
*.tmp
*.swp
*.pid
.DS_Store

# --------------------------
# Git
# --------------------------

.gitconfig

# --------------------------
# Node
# --------------------------

.npm
/node_modules
npm-debug.log

# --------------------------
# Project
# --------------------------

.idea
.idea_modules/
.eslintcache
.grunt
key.pem
cache
TODO.md
