<!DOCTYPE html>

<html>
	<head>
		<title data-i18n="extension_options"></title>
		<link rel="stylesheet" href="./index.css" />
	</head>

	<body>
		<ul class="list">
			<li class="list__item">
				<div class="list__item--control">
					<input type="checkbox" data-name="option" id="tg-option-dialog" class="list__item--control__checkbox hidden" />
					<label for="tg-option-dialog" class="list__item--control__label"></label>
				</div>

				<span class="list__item--text" data-i18n="extension_options__prevent_closing"></span>
			</li>
		</ul>

		<script src="./index.js"></script>
	</body>
</html>
